/* scrollbar default (light mode) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

/* scrollbar untuk dark mode */
.dark ::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #888888;
    border: 2px solid #1e1e1e;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

/* Firefox */
::-moz-scrollbar {
    width: 10px;
}
